/* Fonts */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Font/Montserrat-Light.ttf");
  font-style: inherit;
  font-weight: 200;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Font/Montserrat-Regular.ttf");
  font-style: inherit;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Font/Montserrat-Medium.ttf");
  font-style: inherit;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Font/Montserrat-Bold.ttf");
  font-style: inherit;
  font-weight: 800;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
  font-style: inherit;
}
/* Root */
:root {
  /* Colors */
  --white: #ffffff;
  --white-cultured: #f1f3f2;
  --black: #000101;
  --black-reisin: #292931;
  --black-eeriw: #1e1e1e;
  --silver-wuick: #9ba3a6;
  --imperial-red: #e63945;
  --firebrick: #ff3c42;
  /* Fonts */
  --primary-font: "Montserrat", Helvetica, sans-serif, monospace;
  --second-font: "Playfair Display", Georgia, "Times New Roman", Times, serif;
}
/* Reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
  font-size: 62.5%;
}

/* Sections */
.section {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 120px;
  padding: 4em 0;
  /* outline: 1px solid red; */
}
/* .section * {
  outline: 1px solid red;
} */
/* Content Box */
.content-box {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}
/* Buttom */
.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4em 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.btn-access {
  color: var(--imperial-red);
  border: 2px solid var(--imperial-red);
}
.btn-access:hover {
  color: var(--white);
  background-color: var(--imperial-red);
  border: 2px solid var(--imperial-red);
}
.btn-firebrick {
  color: var(--firebrick);
  border: 2px solid var(--firebrick);
}
.btn-firebrick:hover {
  color: var(--white);
  background-color: var(--firebrick);
  border: 2px solid var(--firebrick);
}

/* Icons */
.icon {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
}

/* Inputs */
input {
  color: var(--silver-wuick);
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
}
input:focus {
  outline: 2px solid var(--imperial-red);
}
input::-webkit-input-placeholder {
  color: var(--silver-wuick);
}
input::-moz-placeholder {
  color: var(--silver-wuick);
}
input:-ms-input-placeholder {
  color: var(--silver-wuick);
}
input::-ms-input-placeholder {
  color: var(--silver-wuick);
}
input::placeholder {
  color: var(--silver-wuick);
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAABI0lEQVQ4jZWT0U3DQBBEX1D+oQP8xXfowK4AqMChA1wBooKICuISoII4FWA6sEQD7iBopdloYiyFjGQ5t3cZz8zuLX5u7xBugA1QAD3QcIo1UAMj8Kw3S6DUsQfgEWiBF+AbGIxiq71Sv9+jGAoOdqgDKuDAPCoRvObuld6x8Tb5S9QWeiqrX9uHjgTId7B/ae3yO3neyt4+N5Z26AN4AlYK0AkC9wpysCz+ZHAxUkEjC5cglG4yg17SSs1Bp6dQLddoPeQHPcRC7amtVnvLrIXFXIi9WjNardGEJlop6WXhhGA0mU7qGKbdcQvBuNN9SGxUS6y1Xs1ZCKl5L5zUaxnq0VbOQXifyj+HINqFghzR6eSdQ6gbgiBGNK6xp/0ffALtL+uRRWwo8DzAAAAAAElFTkSuQmCC");
}
input[type="number"] {
  width: 100%;
  min-width: 90px;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  opacity: 1;
  /* background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAYAAAA8sqwkAAAAcElEQVQYlX3OQQmAQBBG4ScYwAbePFthk5jBJEZYGxjBCkYQDKAR5JdZGJfVuSzDfA+2OtruBEZg5n+irrXhaPQr0r0HgoKESlEDLPYG4FLg0eR2odX2B6cvpRHaDAkPOc4DjQIBRXuOS4GPFLwwwA3TPxjgNhDc4gAAAABJRU5ErkJggg=="); */
}
.quantity {
  display: block;
  position: absolute;
  bottom: -150%;
  left: 0;
  right: 0;
  height: fit-content;
  opacity: 0;
  transition: all ease-out .4s;
  pointer-events: none;
}
.quantity.show {
  opacity: 1;
  pointer-events: auto;
}
.quantity-nav {
  position: absolute;
  top: 50%;
  right: 0;
  height: 100%;
  width: 100%;
  transform: translateY(-50%);
}
.quantity-button {
  position: relative;
  cursor: pointer;
  /* border-left: 1px solid #eee; */
  /* width: 20px; */
  text-align: center;
  color: #333;
  line-height: 1.7;
  font-size: 1.6rem;
  /* -webkit-transform: translateX(-100%);
  transform: translateX(-100%); */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 100%;
  font-size: 1.6rem;
}
.up-arrow-left {
  margin-top: 12px;
  width: 20px;
  height: 20px;
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAYAAAA8sqwkAAAAcElEQVQYlX3OQQmAQBBG4ScYwAbePFthk5jBJEZYGxjBCkYQDKAR5JdZGJfVuSzDfA+2OtruBEZg5n+irrXhaPQr0r0HgoKESlEDLPYG4FLg0eR2odX2B6cvpRHaDAkPOc4DjQIBRXuOS4GPFLwwwA3TPxjgNhDc4gAAAABJRU5ErkJggg==");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
}
.quantity-button.quantity-down {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 30%;
  font-size: 1.6rem;
}
.down-arrow-right {
  margin-top: 12px;
  width: 20px;
  height: 20px;
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAYAAAA8sqwkAAAAcElEQVQYlX3OQQmAQBBG4ScYwAbePFthk5jBJEZYGxjBCkYQDKAR5JdZGJfVuSzDfA+2OtruBEZg5n+irrXhaPQr0r0HgoKESlEDLPYG4FLg0eR2odX2B6cvpRHaDAkPOc4DjQIBRXuOS4GPFLwwwA3TPxjgNhDc4gAAAABJRU5ErkJggg==");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-90deg);
}
