/* Hero */
.hero {
  padding-top: 5.6em;
}
.bar-logo > svg {
  width: 115px;
  height: 115px;
}
/* Histor making */
.making-paragraph {
  max-width: 540px;
}
/* Accommodations */
.accommodations-box {
  -ms-grid-columns: minmax(200px, 260px) 4em 1fr;
  grid-template-columns: minmax(200px, 260px) 1fr;
  gap: 0 4em;
}
/* Events Month's */
.events-cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px 2em 240px;
  grid-template-columns: repeat(2, 240px);
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  gap: 2em;
  width: 100%;
  margin-top: 3.6em;
}
/* Footer */
.footer-box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer-left {
  text-align: left;
}
.footer-right {
  text-align: right;
}
.footer-left,
.footer-right {
  width: 50%;
  max-width: 50%;
  list-style: none;
}
.footer-left .left-item,
.footer-right .right-item {
  color: var(--black-reisin);
  font-size: 1.4rem;
  line-height: 18px;
}
.left-item,
.right-item {
  margin-top: 0.8em;
}
.left-item:first-child,
.right-item:first-child {
  margin-top: 0;
}
