/* Btn */
.btn-book {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4em 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  border: 2px solid var(--black);
  /* border-radius: 2px; */
  background-color: var(--black);
  -webkit-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

/* Modal */
.book-now-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(138, 140, 138, 0);
  -webkit-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  z-index: 1040;
  pointer-events: none;
}
.book-now-container.show {
  background-color: rgba(138, 140, 138, 0.68);
  pointer-events: auto;
}
.book-now-position {
  position: fixed;
  top: 20px;
  right: 0;
  -webkit-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  z-index: 2040;
}
.book-now-position.show {
  -webkit-animation: slide-in-left-alt 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.15s both;
  animation: slide-in-left-alt 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s
    both;
}
.book-now-position.close {
  -webkit-animation: slide-out-right-alt 0.5s
    cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
  animation: slide-out-right-alt 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19)
    both;
}
.book-form {
  position: absolute;
  top: 26%;
  left: -70px;
  font-weight: 900;
  pointer-events: visible;
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.book-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3em;
  position: relative;
  width: 100%;
  max-width: 310px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 6em 4em 3em;
  color: var(--white);
  background-color: var(--black-eeriw);
}
.close-form {
  position: absolute;
  top: 6%;
  left: 6%;
  width: 14px;
  height: 14px;
}
.close-form svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.form--title {
  margin-top: 0.6em;
  color: var(--white-cultured);
  font-family: var(--second-font);
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1px;
}
.book-form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2em;
  padding: 0 1.4em;
}
.form-item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1.4em;
}
.form-label {
  text-transform: uppercase;
  color: var(--white-cultured);
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 18px;
}
.form-input {
  width: 100%;
  margin-top: 0.45em;
  padding: 0.5em 0.8em 0.5em 0.6em;
  font-size: 1.4rem;
  line-height: 18px;
}
.guests-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.guests-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2em;
}
.count-adult,
.count-child {
  position: relative;
}
.arrow-down {
  position: absolute;
  top: 50%;
  right: 4px;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}
.info-book {
  margin-top: 1em;
  text-align: center;
}
.info-book--text {
  color: var(--silver-wuick);
  font-family: var(--second-font);
  font-size: 1.48rem;
  font-weight: 400;
  line-height: 20px;
}
.go-boook {
  margin: 0 auto;
  margin-top: 0.6em;
}
.book-group {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--silver-wuick);
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 20px;
}
.long-arrow {
  display: inline-block;
  vertical-align: baseline;
  width: 25px;
  height: 18px;
  margin-left: 0.2em;
}
/* KeyFrames */
@-webkit-keyframes slide-in-left-alt {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left-alt {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-right-alt {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
  }
}
@keyframes slide-out-right-alt {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
  }
}
